@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Raleway%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Id7286LeWPCJ_font-family: "Inter", sans-serif;
  --mixin-Id7286LeWPCJ_font-size: 16px;
  --mixin-Id7286LeWPCJ_font-weight: 400;
  --mixin-Id7286LeWPCJ_font-style: normal;
  --mixin-Id7286LeWPCJ_color: #535353;
  --mixin-Id7286LeWPCJ_text-align: left;
  --mixin-Id7286LeWPCJ_text-transform: none;
  --mixin-Id7286LeWPCJ_line-height: 1.5;
  --mixin-Id7286LeWPCJ_letter-spacing: normal;
  --mixin-Id7286LeWPCJ_white-space: pre-wrap;
  --mixin-Id7286LeWPCJ_user-select: text;
  --mixin-Id7286LeWPCJ_text-decoration-line: none;
  --mixin-Id7286LeWPCJ_text-overflow: clip;
  --mixin-KqE4LssQ8oK__color: #000000;
  --mixin-KqE4LssQ8oK__font-weight: 700;
  --mixin-KqE4LssQ8oK__font-size: 64px;
  --mixin-KqE4LssQ8oK__line-height: 1;
  --mixin-KqE4LssQ8oK__letter-spacing: -1px;
  --mixin-KqE4LssQ8oK__white-space: pre-wrap;
  --mixin-XTMezbK1SiTj_color: #000000;
  --mixin-XTMezbK1SiTj_font-size: 48px;
  --mixin-XTMezbK1SiTj_font-weight: 700;
  --mixin-XTMezbK1SiTj_letter-spacing: -0.5px;
  --mixin-XTMezbK1SiTj_line-height: 1.1;
  --mixin-XTMezbK1SiTj_white-space: pre-wrap;
  --mixin-W6rsI9XVheZu_color: #0070f3;
  --mixin-W6rsI9XVheZu_white-space: pre-wrap;
  --mixin-Oy-FP-maFYss_color: #000000;
  --mixin-Oy-FP-maFYss_font-size: 32px;
  --mixin-Oy-FP-maFYss_font-weight: 600;
  --mixin-Oy-FP-maFYss_line-height: 1.2;
  --mixin-Oy-FP-maFYss_white-space: pre-wrap;
  --mixin-FKNn1V7zenYD_color: #000000;
  --mixin-FKNn1V7zenYD_font-size: 24px;
  --mixin-FKNn1V7zenYD_font-weight: 600;
  --mixin-FKNn1V7zenYD_line-height: 1.3;
  --mixin-FKNn1V7zenYD_white-space: pre-wrap;
  --mixin-zhwd9yS6Bpwx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zhwd9yS6Bpwx_border-bottom-color: #dddddd;
  --mixin-zhwd9yS6Bpwx_border-bottom-style: solid;
  --mixin-zhwd9yS6Bpwx_border-bottom-width: 1px;
  --mixin-zhwd9yS6Bpwx_border-left-color: #dddddd;
  --mixin-zhwd9yS6Bpwx_border-left-style: solid;
  --mixin-zhwd9yS6Bpwx_border-left-width: 1px;
  --mixin-zhwd9yS6Bpwx_border-right-color: #dddddd;
  --mixin-zhwd9yS6Bpwx_border-right-style: solid;
  --mixin-zhwd9yS6Bpwx_border-right-width: 1px;
  --mixin-zhwd9yS6Bpwx_border-top-color: #dddddd;
  --mixin-zhwd9yS6Bpwx_border-top-style: solid;
  --mixin-zhwd9yS6Bpwx_border-top-width: 1px;
  --mixin-zhwd9yS6Bpwx_border-bottom-left-radius: 3px;
  --mixin-zhwd9yS6Bpwx_border-bottom-right-radius: 3px;
  --mixin-zhwd9yS6Bpwx_border-top-left-radius: 3px;
  --mixin-zhwd9yS6Bpwx_border-top-right-radius: 3px;
  --mixin-zhwd9yS6Bpwx_font-family: "Inconsolata";
  --mixin-zhwd9yS6Bpwx_padding-bottom: 1px;
  --mixin-zhwd9yS6Bpwx_padding-left: 4px;
  --mixin-zhwd9yS6Bpwx_padding-right: 4px;
  --mixin-zhwd9yS6Bpwx_padding-top: 1px;
  --mixin-zhwd9yS6Bpwx_white-space: pre-wrap;
  --mixin-ofrK2EXTgx61_border-left-color: #dddddd;
  --mixin-ofrK2EXTgx61_border-left-style: solid;
  --mixin-ofrK2EXTgx61_border-left-width: 3px;
  --mixin-ofrK2EXTgx61_color: #888888;
  --mixin-ofrK2EXTgx61_padding-left: 10px;
  --mixin-ofrK2EXTgx61_white-space: pre-wrap;
  --mixin-S8Bx5yZVxNGI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-S8Bx5yZVxNGI_border-bottom-color: #dddddd;
  --mixin-S8Bx5yZVxNGI_border-bottom-style: solid;
  --mixin-S8Bx5yZVxNGI_border-bottom-width: 1px;
  --mixin-S8Bx5yZVxNGI_border-left-color: #dddddd;
  --mixin-S8Bx5yZVxNGI_border-left-style: solid;
  --mixin-S8Bx5yZVxNGI_border-left-width: 1px;
  --mixin-S8Bx5yZVxNGI_border-right-color: #dddddd;
  --mixin-S8Bx5yZVxNGI_border-right-style: solid;
  --mixin-S8Bx5yZVxNGI_border-right-width: 1px;
  --mixin-S8Bx5yZVxNGI_border-top-color: #dddddd;
  --mixin-S8Bx5yZVxNGI_border-top-style: solid;
  --mixin-S8Bx5yZVxNGI_border-top-width: 1px;
  --mixin-S8Bx5yZVxNGI_border-bottom-left-radius: 3px;
  --mixin-S8Bx5yZVxNGI_border-bottom-right-radius: 3px;
  --mixin-S8Bx5yZVxNGI_border-top-left-radius: 3px;
  --mixin-S8Bx5yZVxNGI_border-top-right-radius: 3px;
  --mixin-S8Bx5yZVxNGI_font-family: "Inconsolata";
  --mixin-S8Bx5yZVxNGI_padding-bottom: 3px;
  --mixin-S8Bx5yZVxNGI_padding-left: 6px;
  --mixin-S8Bx5yZVxNGI_padding-right: 6px;
  --mixin-S8Bx5yZVxNGI_padding-top: 3px;
  --mixin-S8Bx5yZVxNGI_white-space: pre-wrap;
  --mixin-1QIv7uX6XNIk_display: flex;
  --mixin-1QIv7uX6XNIk_flex-direction: column;
  --mixin-1QIv7uX6XNIk_align-items: stretch;
  --mixin-1QIv7uX6XNIk_justify-content: flex-start;
  --mixin-1QIv7uX6XNIk_list-style-position: outside;
  --mixin-1QIv7uX6XNIk_padding-left: 40px;
  --mixin-1QIv7uX6XNIk_position: relative;
  --mixin-1QIv7uX6XNIk_list-style-type: disc;
  --mixin-1QIv7uX6XNIk_white-space: pre-wrap;
  --mixin-Qi5ElXIowb13_display: flex;
  --mixin-Qi5ElXIowb13_flex-direction: column;
  --mixin-Qi5ElXIowb13_align-items: stretch;
  --mixin-Qi5ElXIowb13_justify-content: flex-start;
  --mixin-Qi5ElXIowb13_list-style-position: outside;
  --mixin-Qi5ElXIowb13_padding-left: 40px;
  --mixin-Qi5ElXIowb13_position: relative;
  --mixin-Qi5ElXIowb13_list-style-type: decimal;
  --mixin-Qi5ElXIowb13_white-space: pre-wrap;
  --mixin-USDFwiSifyAg_color: #000000;
  --mixin-USDFwiSifyAg_font-size: 20px;
  --mixin-USDFwiSifyAg_font-weight: 600;
  --mixin-USDFwiSifyAg_line-height: 1.5;
  --mixin-USDFwiSifyAg_white-space: pre-wrap;
  --mixin-tNhIlf3Rkvu8_color: #000000;
  --mixin-tNhIlf3Rkvu8_font-size: 16px;
  --mixin-tNhIlf3Rkvu8_font-weight: 600;
  --mixin-tNhIlf3Rkvu8_line-height: 1.5;
  --mixin-tNhIlf3Rkvu8_white-space: pre-wrap;
  --mixin-58tYIMx__7ON_color: #3291ff;
  --mixin-58tYIMx__7ON_white-space: pre-wrap;
  --mixin-r66ITz-hgAKr_white-space: pre-wrap;
  --mixin-7oTRutT7lad2_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Id7286LeWPCJ_font-family);
  font-size: var(--mixin-Id7286LeWPCJ_font-size);
  font-weight: var(--mixin-Id7286LeWPCJ_font-weight);
  font-style: var(--mixin-Id7286LeWPCJ_font-style);
  color: var(--mixin-Id7286LeWPCJ_color);
  text-align: var(--mixin-Id7286LeWPCJ_text-align);
  text-transform: var(--mixin-Id7286LeWPCJ_text-transform);
  line-height: var(--mixin-Id7286LeWPCJ_line-height);
  letter-spacing: var(--mixin-Id7286LeWPCJ_letter-spacing);
  white-space: var(--mixin-Id7286LeWPCJ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-KqE4LssQ8oK__color);
  font-weight: var(--mixin-KqE4LssQ8oK__font-weight);
  font-size: var(--mixin-KqE4LssQ8oK__font-size);
  line-height: var(--mixin-KqE4LssQ8oK__line-height);
  letter-spacing: var(--mixin-KqE4LssQ8oK__letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-XTMezbK1SiTj_color);
  font-size: var(--mixin-XTMezbK1SiTj_font-size);
  font-weight: var(--mixin-XTMezbK1SiTj_font-weight);
  letter-spacing: var(--mixin-XTMezbK1SiTj_letter-spacing);
  line-height: var(--mixin-XTMezbK1SiTj_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-W6rsI9XVheZu_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Oy-FP-maFYss_color);
  font-size: var(--mixin-Oy-FP-maFYss_font-size);
  font-weight: var(--mixin-Oy-FP-maFYss_font-weight);
  line-height: var(--mixin-Oy-FP-maFYss_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-FKNn1V7zenYD_color);
  font-size: var(--mixin-FKNn1V7zenYD_font-size);
  font-weight: var(--mixin-FKNn1V7zenYD_font-weight);
  line-height: var(--mixin-FKNn1V7zenYD_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-zhwd9yS6Bpwx_font-family);
  border-radius: var(--mixin-zhwd9yS6Bpwx_border-top-left-radius)
    var(--mixin-zhwd9yS6Bpwx_border-top-right-radius)
    var(--mixin-zhwd9yS6Bpwx_border-bottom-right-radius)
    var(--mixin-zhwd9yS6Bpwx_border-bottom-left-radius);
  padding: var(--mixin-zhwd9yS6Bpwx_padding-top)
    var(--mixin-zhwd9yS6Bpwx_padding-right)
    var(--mixin-zhwd9yS6Bpwx_padding-bottom)
    var(--mixin-zhwd9yS6Bpwx_padding-left);
  border-top: var(--mixin-zhwd9yS6Bpwx_border-top-width)
    var(--mixin-zhwd9yS6Bpwx_border-top-style)
    var(--mixin-zhwd9yS6Bpwx_border-top-color);
  border-right: var(--mixin-zhwd9yS6Bpwx_border-right-width)
    var(--mixin-zhwd9yS6Bpwx_border-right-style)
    var(--mixin-zhwd9yS6Bpwx_border-right-color);
  border-bottom: var(--mixin-zhwd9yS6Bpwx_border-bottom-width)
    var(--mixin-zhwd9yS6Bpwx_border-bottom-style)
    var(--mixin-zhwd9yS6Bpwx_border-bottom-color);
  border-left: var(--mixin-zhwd9yS6Bpwx_border-left-width)
    var(--mixin-zhwd9yS6Bpwx_border-left-style)
    var(--mixin-zhwd9yS6Bpwx_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ofrK2EXTgx61_color);
  padding-left: var(--mixin-ofrK2EXTgx61_padding-left);
  border-left: var(--mixin-ofrK2EXTgx61_border-left-width)
    var(--mixin-ofrK2EXTgx61_border-left-style)
    var(--mixin-ofrK2EXTgx61_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-S8Bx5yZVxNGI_font-family);
  border-radius: var(--mixin-S8Bx5yZVxNGI_border-top-left-radius)
    var(--mixin-S8Bx5yZVxNGI_border-top-right-radius)
    var(--mixin-S8Bx5yZVxNGI_border-bottom-right-radius)
    var(--mixin-S8Bx5yZVxNGI_border-bottom-left-radius);
  padding: var(--mixin-S8Bx5yZVxNGI_padding-top)
    var(--mixin-S8Bx5yZVxNGI_padding-right)
    var(--mixin-S8Bx5yZVxNGI_padding-bottom)
    var(--mixin-S8Bx5yZVxNGI_padding-left);
  border-top: var(--mixin-S8Bx5yZVxNGI_border-top-width)
    var(--mixin-S8Bx5yZVxNGI_border-top-style)
    var(--mixin-S8Bx5yZVxNGI_border-top-color);
  border-right: var(--mixin-S8Bx5yZVxNGI_border-right-width)
    var(--mixin-S8Bx5yZVxNGI_border-right-style)
    var(--mixin-S8Bx5yZVxNGI_border-right-color);
  border-bottom: var(--mixin-S8Bx5yZVxNGI_border-bottom-width)
    var(--mixin-S8Bx5yZVxNGI_border-bottom-style)
    var(--mixin-S8Bx5yZVxNGI_border-bottom-color);
  border-left: var(--mixin-S8Bx5yZVxNGI_border-left-width)
    var(--mixin-S8Bx5yZVxNGI_border-left-style)
    var(--mixin-S8Bx5yZVxNGI_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-1QIv7uX6XNIk_display);
  flex-direction: var(--mixin-1QIv7uX6XNIk_flex-direction);
  align-items: var(--mixin-1QIv7uX6XNIk_align-items);
  justify-content: var(--mixin-1QIv7uX6XNIk_justify-content);
  list-style-position: var(--mixin-1QIv7uX6XNIk_list-style-position);
  padding-left: var(--mixin-1QIv7uX6XNIk_padding-left);
  position: var(--mixin-1QIv7uX6XNIk_position);
  list-style-type: var(--mixin-1QIv7uX6XNIk_list-style-type);
  flex-column-gap: var(--mixin-1QIv7uX6XNIk_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Qi5ElXIowb13_display);
  flex-direction: var(--mixin-Qi5ElXIowb13_flex-direction);
  align-items: var(--mixin-Qi5ElXIowb13_align-items);
  justify-content: var(--mixin-Qi5ElXIowb13_justify-content);
  list-style-position: var(--mixin-Qi5ElXIowb13_list-style-position);
  padding-left: var(--mixin-Qi5ElXIowb13_padding-left);
  position: var(--mixin-Qi5ElXIowb13_position);
  list-style-type: var(--mixin-Qi5ElXIowb13_list-style-type);
  flex-column-gap: var(--mixin-Qi5ElXIowb13_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-USDFwiSifyAg_color);
  font-size: var(--mixin-USDFwiSifyAg_font-size);
  font-weight: var(--mixin-USDFwiSifyAg_font-weight);
  line-height: var(--mixin-USDFwiSifyAg_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-tNhIlf3Rkvu8_color);
  font-size: var(--mixin-tNhIlf3Rkvu8_font-size);
  font-weight: var(--mixin-tNhIlf3Rkvu8_font-weight);
  line-height: var(--mixin-tNhIlf3Rkvu8_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-58tYIMx__7ON_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
